.check{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: #C0FA73;
  border-radius: 50%;
  color: #477A11;
}
.favorite-list img{
  width: 120px;
  height: 120px;
}
@media(min-width:540px){
  .check{
    width: 40px;
    height: 40px;
  }
}